@font-face {
    font-family: 'GoodDog';
    src: url('../fonts/GoodDog.eot');
    src: url('../fonts/../fonts/GoodDog.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GoodDog.woff') format('woff'),
         url('../fonts/GoodDog.ttf') format('truetype'),
         url('../fonts/GoodDog.svg#gooddogregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic);