html {
    min-height: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    @include flexbox();
    @include flex-direction(column);
    min-height: 100%;
    line-height: 1.4;
    @include font-size(14);
    font-family: $font-stack;
}

@import "layout-header";

@import "layout-main";

@import "layout-footer";