@import "compass/reset";
@import "compass/css3";
@import "_mixins";

$font-stack: "Noto Sans", sans serif;
$purple: #572b85;
$max-width: 1120px;

@import "_helper";
@import "_layout";
@import "_fonts";
@import "_formatting";